<template>
  <base-card>
    <row-displayer>
      <div class="row">
        <div class="col-2">
          <div class="form-group">
            <div
              class="btn-group-vertical buttons"
              role="group"
              aria-label="Basic example"
            >
              <input
                type="text"
                id="addData"
                name="addData"
                v-model.trim="addData"
              />
              <button class="btn btn-secondary" @click="add">Add</button>
              <button class="btn btn-secondary" @click="replace">
                Replace
              </button>
            </div>

            <div class="form-check">
              <input
                id="disabled"
                type="checkbox"
                v-model="enabled"
                class="form-check-input"
              />
              <label class="form-check-label" for="disabled">DnD enabled</label>
            </div>
          </div>
        </div>

        <div class="col-6">
          <h3>Draggable {{ draggingInfo }}</h3>

          <draggable
            :list="list"
            :disabled="!enabled"
            class="list-group"
            ghost-class="ghost"
            @start="dragging = true"
            @end="dragging = false"
          >
            <div
              class="list-group-item"
              v-for="element in list"
              :key="element.name"
            >
              {{ element.name }}
            </div>
          </draggable>
        </div>
      </div>
    </row-displayer>
    <row-displayer>
      <div class="row">
        <div class="col-3">
          <h3>Draggable 1</h3>
          <draggable
            class="dragArea list-group"
            :list="list1"
            :group="{ name: 'people', pull: 'clone', put: false }"
          >
            <div
              class="list-group-item"
              v-for="element in list1"
              :key="element.name"
            >
              {{ element.name }}
            </div>
          </draggable>
        </div>

        <div class="col-3">
          <h3>Draggable 2</h3>
          <draggable class="dragArea list-group" :list="list2" group="people">
            <div
              class="list-group-item"
              v-for="element in list2"
              :key="element.name"
            >
              {{ element.name }}
            </div>
          </draggable>
        </div>
      </div>
    </row-displayer>
    <row-displayer>
      <div class="row">
        <div class="col-8">
          <h3>Nested draggable</h3>
          <nested-draggable :tasks="list3" />
        </div>

        <rawDisplayer class="col-3" :value="list3" title="List3" />
      </div>
    </row-displayer>
    <row-displayer>
      <div class="row">
        <div class="col-1">
          <button class="btn btn-secondary button" @click="add">Add</button>
        </div>

        <div class="col-7">
          <h3>Draggable {{ draggingInfo }}</h3>

          <draggable tag="ul" :list="list4" class="list-group" handle=".handle">
            <li
              class="list-group-item"
              v-for="(element, idx) in list4"
              :key="element.name"
            >
              <i class="fa fa-align-justify handle"></i>

              <span class="text">{{ element.name }} </span>

              <input type="text" class="form-control" v-model="element.text" />

              <i class="fa fa-times close" @click="removeAt(idx)"></i>
            </li>
          </draggable>
        </div>

        <rawDisplayer class="col-3" :value="list4" title="List4" />
      </div>
    </row-displayer>
    <row-displayer>
      <div class="row">
        <div class="col-2">
          <button class="btn btn-secondary button" @click="sort">
            To original order
          </button>
        </div>

        <div class="col-6">
          <h3>Transition</h3>
          <draggable
            class="list-group"
            tag="ul"
            v-model="list5"
            v-bind="dragOptions"
            @start="isDragging = true"
            @end="isDragging = false"
          >
            <transition-group type="transition" name="flip-list">
              <li
                class="list-group-item"
                v-for="element in list"
                :key="element.order"
              >
                <i
                  :class="
                    element.fixed
                      ? 'fa fa-anchor'
                      : 'glyphicon glyphicon-pushpin'
                  "
                  @click="element.fixed = !element.fixed"
                  aria-hidden="true"
                ></i>
                {{ element.name }}
              </li>
            </transition-group>
          </draggable>
        </div>

        <rawDisplayer class="col-3" :value="list" title="List" />
      </div>
    </row-displayer>
    <row-dispalyer>
      <div class="row">
        <div class="col-3">
          <h3>Draggable 1</h3>
          <draggable
            class="dragArea list-group"
            :list="list6"
            :group="{ name: 'people', pull: 'clone', put: false }"
            :clone="cloneDog"
            @change="log"
          >
            <div
              class="list-group-item"
              v-for="element in list6"
              :key="element.id"
            >
              {{ element.name }}
            </div>
          </draggable>
        </div>

        <div class="col-3">
          <h3>Draggable 2</h3>
          <draggable
            class="dragArea list-group"
            :list="list7"
            group="people"
            @change="log"
          >
            <div
              class="list-group-item"
              v-for="element in list7"
              :key="element.id"
            >
              {{ element.name }}
            </div>
          </draggable>
        </div>

        <rawDisplayer class="col-3" :value="list6" title="List 6" />

        <rawDisplayer class="col-3" :value="list7" title="List 7" />
      </div>
    </row-dispalyer>
  </base-card>
</template>

<script>
import "element-ui/lib/theme-chalk/index.css";

import draggable from "vuedraggable";
import RowDisplayer from "./RowDisplayer";
import nestedDraggable from "./nested";
import rawDisplayer from "./raw-displayer";

let id = 1;
const message = [
  "vue.draggable",
  "draggable",
  "component",
  "for",
  "vue.js 2.0",
  "based",
  "on",
  "Sortablejs",
];

export default {
  display: "Simple",
  order: 0,
  components: {
    draggable,
    RowDisplayer,
    nestedDraggable,
    rawDisplayer,
  },
  data() {
    return {
      addData: "",
      enabled: true,
      list: [
        { name: "Laravel", id: 0 },
        { name: "VueJs", id: 1 },
        { name: "NodeJs", id: 2 },
      ],
      list1: [
        { name: "John", id: 1 },
        { name: "Joao", id: 2 },
        { name: "Jean", id: 3 },
        { name: "Gerard", id: 4 },
      ],
      list2: [
        { name: "Juan", id: 5 },
        { name: "Edgard", id: 6 },
        { name: "Johnson", id: 7 },
      ],
      list3: [
        {
          name: "task 1",
          tasks: [
            {
              name: "task 2",
              tasks: [],
            },
          ],
        },
        {
          name: "task 3",
          tasks: [
            {
              name: "task 4",
              tasks: [],
            },
          ],
        },
        {
          name: "task 5",
          tasks: [],
        },
      ],
      list4: [
        { name: "John", text: "", id: 0 },
        { name: "Joao", text: "", id: 1 },
        { name: "Jean", text: "", id: 2 },
      ],
      dragging: false,
      list5: message.map((name, index) => {
        return { name, order: index + 1 };
      }),
      list6: [
        { name: "dog 1", id: 1 },
        { name: "dog 2", id: 2 },
        { name: "dog 3", id: 3 },
        { name: "dog 4", id: 4 },
      ],
      list7: [
        { name: "cat 5", id: 5 },
        { name: "cat 6", id: 6 },
        { name: "cat 7", id: 7 },
      ],
    };
  },

  computed: {
    draggingInfo() {
      return this.dragging ? "under drag" : "";
    },
    dragOptions() {
      return {
        animation: 0,
        group: "description",
        disabled: false,
        ghostClass: "ghost",
      };
    },
  },
  methods: {
    add: function () {
      this.list.push({ name: this.addData, id: id++ });
    },
    replace: function () {
      this.list = [{ name: "PHP", id: id++ }];
    },
    removeAt(idx) {
      this.list4.splice(idx, 1);
    },
    add: function () {
      id++;
      this.list4.push({ name: "Juan " + id, id, text: "" });
    },
    sort() {
      this.list5 = this.list5.sort((a, b) => a.order - b.order);
    },
    log: function (evt) {
      window.console.log(evt);
    },
    cloneDog({ id }) {
      return {
        id: idGlobal++,
        name: `cat ${id}`,
      };
    },
  },
};
</script>
