<template>
  <div>
    <div>
      <vs-tabs color="success" alignment="fixed">
        <vs-tab label="Basic Form" @click="$router.push('/')">
          <div class="con-tab-ejemplo">
            <router-view></router-view>
          </div>
        </vs-tab>
        <vs-tab label="Advanced Form" @click="$router.push('/advanced')">
          <div class="con-tab-ejemplo">
            <router-view></router-view>
          </div>
        </vs-tab>
        <vs-tab label="AgGrid Table" @click="$router.push('/agGrid')">
          <div class="con-tab-ejemplo">
            <router-view></router-view>
          </div>
        </vs-tab>
        <vs-tab label="Vue Draggable" @click="$router.push('/draggable')">
          <div class="con-tab-ejemplo">
            <router-view></router-view>
          </div>
        </vs-tab>
        <vs-tab
          label="Mini Broadcast ChatApp"
          @click="$router.push('/chatapp')"
        >
          <div class="con-tab-ejemplo">
            <router-view></router-view>
          </div>
        </vs-tab>
      </vs-tabs>
    </div>
  </div>
</template>
