<template>
  <base-card>
    <form @submit.prevent="submitForm">
      <p style="color: green">{{ successMessage }}</p>
      <p style="color: red">{{ errorMessage }}</p>

      <div class="form-control">
        <label for="Country">Country:</label>
        <vs-select class="selectExample" v-model="select1">
          <vs-select-item
            :key="index"
            :value="item.text"
            :text="item.text"
            v-for="(item, index) in options1"
          />
        </vs-select>
      </div>
      <div class="form-control">
        <label for="Gender">Gender:</label>
        <ul class="leftx">
          <li>
            <vs-radio v-model="radios1" vs-name="radios1" vs-value="Male"
              >Male</vs-radio
            >
          </li>
          <li>
            <vs-radio v-model="radios1" vs-name="radios1" vs-value="Female"
              >Female</vs-radio
            >
          </li>
        </ul>
      </div>

      <div class="form-control">
        <div class="center con-switch">
          <label for=""> Active/Inactive: </label>
          <vs-switch v-model="switch1" />
        </div>
      </div>
      <p v-if="invalidInput">
        One or more input fields are invalid. Please check your provided data.
      </p>
      <p v-if="error">{{ error }}</p>
      <div>
        <base-button>Submit</base-button>
      </div>
    </form>
  </base-card>
</template>

<script>
export default {
  data() {
    return {
      select1: 0,
      options1: [
        { text: "Select", value: 0 },
        { text: "Germany", value: 1 },
        { text: "India", value: 2 },
        { text: "Nepal", value: 3 },
        { text: "Russia", value: 4 },
        { text: "Saudi Arabia", value: 5 },
        { text: "Turkey", value: 6 },
        { text: "United States of America", value: 7 },
      ],
      radios1: "",

      switch1: true,
      options2: [
        { text: "Active", value: true },
        { text: "Inactive", value: false },
      ],

      invalidInput: false,
      error: null,
      errorMessage: "",
      successMessage: "",
    };
  },
  methods: {
    validateForm() {
      if (this.select1 === 0) {
        this.invalidInput = true;
        return;
      }
      if (this.radios1 === "") {
        this.invalidInput = true;
        return;
      }
      if (this.switch1 === "") {
        this.invalidInput = true;
        return;
      }

      this.invalidInput = false;

      this.error = null;
    },
    submitForm() {
      this.validateForm();

      if (!this.invalidInput) {
        const formData = {
          country: this.select1,
          gender: this.radios1,
          active: this.switch1,
        };
        console.log(formData);
        if (this.$store.dispatch("Add_Data", formData)) {
          this.successMessage = "Data submitted successfully";
        } else {
          this.errorMessage = "Error:Something went wrong please try again";
        }
      }
    },
  },
};
</script>

<style scoped>
.form-control {
  margin: 0.5rem 0;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.selectExample {
  margin: 10px;
}
.con-select-example {
  display: flex;
  align-items: center;
  justify-content: center;
}
.con-select .vs-select {
  width: 100%;
}
@media (max-width: 550px) {
  .con-select {
    flex-direction: column;
  }
  .con-select .vs-select {
    width: 100%;
  }
}
</style>
