<template>
  <div>
    <base-card>
      <table class="border-separate border border-green-800 ...">
        <thead>
          <tr>
            <th class="border border-green-600 ...">Country</th>
            <th class="border border-green-600 ...">Gender</th>
            <th class="border border-green-600 ...">Active</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="border border-green-600 ...">{{ User_Data.country }}</td>
            <td class="border border-green-600 ...">{{ User_Data.gender }}</td>
            <td class="border border-green-600 ...">{{ User_Data.active }}</td>
          </tr>
        </tbody>
      </table>
    </base-card>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  computed: {
    ...mapGetters(["User_Data"]),
  },
};
</script>
<style>
table {
  width: 690px;
}
</style>
