<template>
  <base-card>
    <ag-grid-vue
      style="height: 400px"
      class="ag-theme-alpine"
      :columnDefs="columnDefs"
      :rowData="rowData"
    >
    </ag-grid-vue>
  </base-card>
</template>

<script>
import { AgGridVue } from "ag-grid-vue";
import { HTTP } from "../config";

export default {
  data() {
    return {
      columnDefs: null,
      rowData: null,
    };
  },
  components: {
    AgGridVue,
  },
  beforeMount() {
    this.columnDefs = [
      {
        field: "title",
        sortable: true,
        filter: true,
        checkboxSelection: true,
      },
      { field: "firstName", sortable: true, filter: true },
      { field: "lastName", sortable: true, filter: true },
      {
        headerName: "Image",
        field: "picture",

        cellRenderer: ({ value }) =>
          `<img style="height: 40px; width: 40px" src=${value} />`,
      },
    ];

    HTTP.get(`user`)
      .then((result) => result.data)
      .then((rowData) => (this.rowData = rowData.data));
  },
};
</script>
<style lang="scss">
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-alpine.css";
</style>
