<template>
  <div>
    <base-card>
      <table>
        <thead class="bg-gray-50">
          <tr>
            <th class="px-6 py-2 text-xs text-gray-500">First Name</th>
            <th class="px-6 py-2 text-xs text-gray-500">Last Name</th>
            <th class="px-6 py-2 text-xs text-gray-500">Address</th>
            <th class="px-6 py-2 text-xs text-gray-500">Phone Number</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="px-6 py-2 text-xs text-gray-500">
              {{ User_List.first }}
            </td>
            <td class="px-6 py-2 text-xs text-gray-500">
              {{ User_List.last }}
            </td>
            <td class="px-6 py-2 text-xs text-gray-500">
              {{ User_List.addr }}
            </td>
            <td class="px-6 py-2 text-xs text-gray-500">
              {{ User_List.phone }}
            </td>
          </tr>
        </tbody>
      </table>
    </base-card>
  </div>
</template>

<script>
export default {
  computed: {
    User_List() {
      return this.$store.getters["User_List"];
    },
  },
};
</script>
<style>
table {
  width: 690px;
}
</style>
