<template>
  <base-card>
    <form @submit.prevent="submitForm">
      <p style="color: green">{{ successMessage }}</p>
      <p style="color: red">{{ errorMessage }}</p>
      <div class="form-control">
        <label for="firstName">First Name</label>
        <vs-input
          v-model.trim="firstName"
          placeholder=" First Name"
          id="firstName"
          name="firstName"
        />
      </div>
      <div class="form-control">
        <label for="lastName">Last Name</label>
        <vs-input
          placeholder=" Last Name"
          id="lastName"
          name="lastName"
          v-model.trim="lastName"
        />
      </div>
      <div class="form-control">
        <label for="address">Address</label>
        <vs-textarea v-model="address" />
      </div>
      <div class="form-control">
        <label for="number">Phone Number</label>
        <vs-input
          placeholder=" Phone Number"
          id="phoneNumber"
          name="phoneNumber"
          v-model.trim="phoneNumber"
        />
      </div>

      <p v-if="invalidInput">
        One or more input fields are invalid. Please check your provided data.
      </p>
      <p v-if="error">{{ error }}</p>
      <div>
        <base-button>Submit</base-button>
      </div>
    </form>
  </base-card>
</template>

<script>
export default {
  data() {
    return {
      firstName: "",
      lastName: "",
      phoneNumber: "",
      address: "",
      invalidInput: false,
      error: null,
      errorMessage: "",
      successMessage: "",
    };
  },
  methods: {
    validateForm() {
      if (this.firstName === "") {
        this.invalidInput = true;
        return;
      }
      if (this.lastName === "") {
        this.invalidInput = true;
        return;
      }
      if (this.phoneNumber === "") {
        this.invalidInput = true;
        return;
      }
      if (this.address === "") {
        this.invalidInput = true;
        return;
      }
      this.invalidInput = false;

      this.error = null;
    },
    submitForm() {
      this.validateForm();

      if (!this.invalidInput) {
        const formData = {
          first: this.firstName,
          last: this.lastName,
          addr: this.address,
          phone: this.phoneNumber,
        };
        console.log(formData);

        if (this.$store.dispatch("Add_Users", formData)) {
          this.successMessage = "Data submitted successfully";
        } else {
          this.errorMessage = "Error:Something went wrong please try again";
        }
      }
    },
  },
};
</script>

<style scoped>
.form-control {
  margin: 0.5rem 0;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

input[type="checkbox"] + label {
  font-weight: normal;
  display: inline;
  margin: 0 0 0 0.5rem;
}

input,
textarea {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  font: inherit;
}

input:focus,
textarea:focus {
  background-color: #f0e6fd;
  outline: none;
  border-color: #3d008d;
}

input[type="checkbox"] {
  display: inline;
  width: auto;
  border: none;
}

input[type="checkbox"]:focus {
  outline: #3d008d solid 1px;
}

h3 {
  margin: 0.5rem 0;
  font-size: 1rem;
}

.invalid label {
  color: red;
}

.invalid input,
.invalid textarea {
  border: 1px solid red;
}
</style>
