<template>
  <div>
    <the-header></the-header>
    <all-tabs></all-tabs>
  </div>
</template>

<script>
import TheHeader from "./components/layout/TheHeader.vue";
import AllTabs from "./components/layout/Tabs.vue";
import BasicForm from "./components/BasicForm.vue";


export default {
  name: "App",
  components: {
    TheHeader,
    AllTabs,
    BasicForm,
  },
};
</script>

<style src="./assets/tailwind.css">
